<div class='grid-container'>
  <h1>Commandes</h1>

  <% unless @current_user.orderless? %>
  <table>
    <thead>
      <tr>
        <th colspan="2" class='text-center'>Historique des commandes</th>
      </tr>
    </thead>
  
    <tbody>
      <% @current_user.ordered.each do |order| %>
        <tr>
          <td>Commande #<%= order.id %> du
          <% if order.created_at < order.updated_at %>
          <%= order.updated_at.strftime("%Y-%m-%d %H:%M") %>
          <% else %>
          <%= order.created_at.strftime("%Y-%m-%d %H:%M") %>
          <% end %>
          </td>
          <td class='button-group center'>
            <%= link_to 'Détails', order, :class => 'button hollow' %>
            <%= link_to 'Modifier', edit_order_path(order), :class => 'button hollow' %>
            <%= link_to 'Supprimer', order, method: :delete, data: { confirm: 'Êtes-vous sur de cela ?' }, :class => 'button alert hollow' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <div class='callout large primary'>
      Aucune commande sur ce compte
    </div>
  <% end %>
</div>
