<h1>Commande #<%= @order.id %></h1>

  <table>
    <thead>
      <tr>
        <th>Produit</th>
        <th>Prix</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @order.order_items.each do |oi| %>
        <td>
          <%= link_to oi.item do %>
          <%= oi.item.title %>
          <% end %>
        </td>
        <td>
          <%= oi.item.price %>&nbsp;€
        </td>
      </tr>
      <% end %>
      <tr>
        <td>Total (<%= @order.items.count %> photos)</td>
        <td><%= @order.total_price %>&nbsp;€</td>
      </tr>
    </tbody>
  </table>
