<div class="grid-container">
  <h1>Panier</h1>
  <p id="notice"><%= notice %></p>
  <table>
    <thead>
      <tr>
        <th>Produit</th>
        <th>Prix</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @cart.cart_items.each do |ci| %>
        <td><%= ci.item.title %></td>
        <td>
          <%= ci.item.price %>&nbsp;€
          <small><%= link_to 'Supprimer', cart_item_path(ci), :method => :delete %></small>
        </td>
      </tr>
      <% end %>
      <tr>
        <td>Total</td>
        <td><%= @cart.total %>&nbsp;€</td>
      </tr>
    </tbody>
  </table>
</div>
