<% if item.errors.any? %>
<div class='callout alert large' data-closable>
  <p class='h2'><%= pluralize(item.errors.count, "erreur") %> ont empêché la requête d’aboutir&nbsp;:</p>
      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>

<%= form_with(model: item, local: true) do |form| %>

  <div class="field">
    <%= form.label 'titre', :class => 'mandatory' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label 'description' %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label 'prix', :class => 'mandatory' %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label 'Photo…', :class => 'button hollow', :for => 'chaton_pic' %>
    <%= form.file_field :picture, :class => 'show-for-sr', :id => 'chaton_pic' %>
  </div>

  <div class="actions">
    <%= form.submit 'Envoyer', :class => 'button' %>
  </div>

<% end %>
