<% if !user_signed_in? %>
<%= render 'items/brief' %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="grid-container">
  <h1>Items</h1>
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <% @items.each do |item| %>
      <div class="cell">
        <%= link_to item  do %>
        <div class="card" style="max-width: 400px;">
          <img src="https://live.staticflickr.com/469/19471741213_eece5bb9bd_b.jpg">
          <div class="card-section">
          <h4><%= item.title %></h4>
            <p><%= item.description %></p>
            <p><%= item.price %>&nbsp;€</p>
          </div>
        </div>
      <% end %>
      </div>
  <% end %>
  </div>
</div>
