<div class='top-bar'>

  <div class='top-bar-left'>
    <ul class='dropdown menu' data-dropdown-menu>
      <li class='menu-text'>PssPssPss</li>
      <li><%= link_to 'Accueil', root_path %></li>
      <li>
        <a href='#'>Compte</a>
        <ul class='menu vertical'>
          <% if user_signed_in? %>
          <li><%= link_to 'Commandes', orders_path %></li>
          <li><%= link_to 'Profil', user_path(current_user) %></li>
          <li><%= link_to 'Déconnexion', destroy_user_session_path, :method => :delete %></li>
          <% else %>
          <li><%= link_to 'Connexion', new_user_session_path %></li>
          <li><%= link_to 'Crée un compte', new_user_registration_path %></li>
          </ul>
      </li>
    <% end %>
    </ul>
  </div>
  <div class='top-bar-right'>
    <ul class='menu'>
      <% if user_signed_in? %>
      <%= link_to cart_path(@cart.id) do %>
        <li><%= fa_icon 'shopping-cart', text: "#{@cart.total_items unless @cart.itemless?}" %></li>
      <% end %>
      <% end %>
      <li><input type='search' placeholder='Animal, mraou...'></li>
      <li><button type='button' class='button'><%= t('search') %></button></li>
    </ul>
  </div>
</div>
